Repository ngld/knossos: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, eslint, tsc

gofumpt:
  name: gofumpt
  entry: gofumpt -l -w
  language: system

eslint:
  name: eslint
  entry: ./yarn eslint
  language: script

tsc:
  name: tsc
  entry: ./yarn tsc --noEmit -p ./packages/client-ui/tsconfig.json
  language: script
  pass_filenames: false
  require_serial: true

fix(libknossos): don't complain about missing fs2_open.ini
  packages/libknossos/pkg/fsointerop/ini_parser.go
Due: gofumpt

fix(knossos): properly implement parallel dl limit
  packages/client-ui/src/elements/form-elements.tsx
  packages/client-ui/src/pages/settings.tsx
  packages/libknossos/pkg/downloader/queue.go
  packages/libknossos/pkg/mods/modsync.go
Due: gofumpt, eslint, tsc

refactor(libknossos): remove pointless version mismatch messages during first sync
  packages/libknossos/pkg/mods/modsync.go
Due: gofumpt

fix(build-tools): cmake dependencies for client and env pollution in yarn.bat
  packages/build-tools/pkg/buildsys/helpers.go
  packages/client/launcher/CMakeLists.txt
  tasks/main.star
Due: gofumpt

chore: update dependencies
  packages/libarchive/go.mod
  packages/libarchive/go.sum
  packages/libinnoextract/go.mod
  packages/libknossos/go.mod
  packages/libknossos/go.sum
  packages/server/go.mod
  packages/updater/go.mod
Due: none

fix(libarchive): position tracking on windows
  packages/libarchive/binding.c
  packages/libarchive/binding.go
  packages/libarchive/handle_stubs.go
  packages/libknossos/pkg/mods/installation.go
  packages/libopenal/binding.go
Due: gofumpt

fix(libarchive): build issue on unix
  packages/libarchive/binding.c
Due: none

feat(server): improve updater
  packages/front/tailwind.config.js
  packages/server/cmd/importer/filelist.go
  packages/server/cmd/importer/main.go
  packages/server/go.mod
  packages/server/go.sum
  packages/server/pkg/db/queries/files.sql
  packages/server/pkg/db/queries/importer.sql
  packages/server/pkg/exporter/modsync.go
  tasks/nebula.star
Due: gofumpt, eslint

fix(libknossos): data corruption during mod installation
  packages/libknossos/pkg/mods/installation.go
  packages/libknossos/pkg/storage/files.go
Due: gofumpt

refactor(libknossos): additional error checks
  packages/libarchive/binding.go
  packages/libknossos/dev-server/log_helpers.go
  packages/libknossos/pkg/downloader/queue.go
Due: gofumpt

fix(libarchive): use posix fds on windows as well to avoid closing the file handle twice
  packages/libarchive/binding.c
  packages/libarchive/binding.go
Due: gofumpt

fix(libknossos): correctly save retail metadata
  packages/api/definitions/client.proto
  packages/client-ui/src/dialogs/first-run-wizard.tsx
  packages/libknossos/pkg/mods/installation.go
  packages/libknossos/pkg/mods/metadata.go
  packages/libknossos/pkg/twirp/innoextract.go
  packages/libknossos/pkg/twirp/mod_install.go
Due: gofumpt, eslint, tsc

chore(client-ui): fix eslint settings for vscode
  packages/client-ui/.vscode/settings.json
  packages/client-ui/vscode.eslintrc.yml
Due: none

feat(knossos): support tools / debug builds
  packages/api/definitions/client.proto
  packages/client-ui/src/dialogs/error-dialog.tsx
  packages/client-ui/src/dialogs/launch-mod.tsx
  packages/client-ui/src/pages/local-mod-list.tsx
  packages/libknossos/pkg/mods/launcher.go
  packages/libknossos/pkg/twirp/mods.go
Due: gofumpt, eslint, tsc

fix(libarchive): building on unix
  packages/libarchive/binding.c
Due: none

chore: formatting
  packages/client-ui/.vscode/settings.json
  packages/client-ui/src/dialogs/error-dialog.tsx
  packages/client-ui/src/dialogs/first-run-wizard.tsx
  packages/client-ui/src/dialogs/install-mod.tsx
  packages/client-ui/src/dialogs/launch-mod.tsx
  packages/libarchive/binding.c
Due: eslint, tsc

fix(knossos): several issues during mod import, mark broken mod and provide better errors for broken mods
  packages/api/definitions/client.proto
  packages/client-ui/src/elements/root.tsx
  packages/client-ui/src/pages/local-mod-list.tsx
  packages/client-ui/src/pages/settings.tsx
  packages/client-ui/src/style.css
  packages/libknossos/pkg/mods/importer.go
  packages/libknossos/pkg/storage/mods.go
  packages/libknossos/pkg/twirp/mods.go
Due: gofumpt, eslint, tsc

fix(libknossos): mod flag handling and links in bbcode
  .vscode/nebula.code-workspace
  .yarn/sdks/typescript/package.json
  package.json
  packages/api/definitions/client.proto
  packages/client-ui/src/elements/bbrenderer.tsx
  packages/client-ui/src/index.tsx
  packages/client-ui/src/lib/bbparser.ts
  packages/client-ui/src/lib/state.tsx
  packages/client-ui/src/pages/local-mod.tsx
  packages/client-ui/src/pages/remote-mod.tsx
  packages/libknossos/pkg/twirp/mods.go
  yarn.lock
Due: gofumpt, eslint, tsc

fix(libknossos): address edge cases in dependency resolver
  packages/libknossos/pkg/mods/dependencies.go
Due: gofumpt

feat(knossos): implement file verification
  packages/api/definitions/client.proto
  packages/client-ui/src/pages/local-mod-list.tsx
  packages/libknossos/pkg/api/helpers.go
  packages/libknossos/pkg/mods/integrity.go
  packages/libknossos/pkg/mods/modsync.go
  packages/libknossos/pkg/twirp/mods.go
Due: gofumpt, eslint, tsc

feat(libknossos): add orphan detection to file integrity check
  packages/libknossos/pkg/mods/integrity.go
Due: gofumpt

fix(libknossos): rewrite modsync
  packages/libknossos/pkg/mods/modsync.go
  packages/libknossos/pkg/storage/mods.go
Due: gofumpt

fix(client-ui): browser compatibility
  packages/client-ui/src/index.tsx
Due: eslint, tsc

refactor(updater): replace go-sdl2 with cgo to work around linking issues
  packages/updater/go.mod
  packages/updater/go.sum
  packages/updater/ui/loop.go
Due: gofumpt

fix(libknossos): actually run modsync
  packages/libknossos/pkg/mods/modsync.go
Due: gofumpt

fix(updater): CI script
  .github/workflows/updater.yml
Due: none

fix(libknossos): create temp folder for modsync
  packages/libknossos/pkg/mods/modsync.go
Due: gofumpt

chore(knossos): release 0.0.2
  .github/workflows/ci-cd.yml
Due: none

fix(libknossos): gracefully handle FSO settings error
  packages/client-ui/src/pages/settings.tsx
  packages/libknossos/pkg/fsointerop/ini_parser.go
Due: gofumpt, eslint, tsc

Minor update to `More...` list
  packages/client-ui/src/pages/local-mod-list.tsx
  packages/libknossos/pkg/twirp/mods.go
Due: gofumpt, eslint, tsc

Enable Screenshots Folder
  packages/api/definitions/client.proto
  packages/client-ui/src/elements/root.tsx
  packages/libknossos/pkg/twirp/mods.go
Due: gofumpt, eslint, tsc

chore: update dependencies
  .go-version
  .node-version
  .pnp.loader.mjs
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  go.work
  go.work.sum
  package.json
  packages/api/go.mod
  packages/api/go.sum
  packages/build-tools/DEPS.yml
  packages/build-tools/go.mod
  packages/build-tools/go.sum
  packages/libarchive/go.mod
  packages/libarchive/go.sum
  packages/libinnoextract/go.mod
  packages/libinnoextract/go.sum
  packages/libknossos/go.mod
  packages/libknossos/go.sum
  packages/libopenal/go.mod
  packages/server/go.mod
  packages/server/go.sum
  packages/updater/go.mod
  packages/updater/go.sum
  yarn.lock
Due: none

feat: started work on the build tab
  .eslintrc.yml
  packages/api/definitions/client.proto
  packages/api/definitions/mod.proto
  packages/client-ui/src/dialogs/install-mod.tsx
  packages/client-ui/src/dialogs/startup.tsx
  packages/client-ui/src/dialogs/unsaved-changes.tsx
  packages/client-ui/src/elements/root.tsx
  packages/client-ui/src/index.tsx
  packages/client-ui/src/lib/form.tsx
  packages/client-ui/src/lib/state.tsx
  packages/client-ui/src/pages/build.tsx
  packages/client-ui/src/pages/settings.tsx
  packages/client-ui/src/pages/tools.tsx
  packages/client-ui/src/style.css
  packages/client-ui/webpack.config.js
  packages/client/launcher/CMakeLists.txt
  packages/client/launcher/browser/knossos_file_result_handler.cc
  packages/client/launcher/browser/knossos_file_result_handler.h
  packages/client/launcher/browser/knossos_handler_win.cc
  packages/client/launcher/knossos_app.cc
  packages/libinnoextract/msys2-build.sh
  packages/libinnoextract/unix-build.sh
  packages/libknossos/pkg/downloader/queue.go
  packages/libknossos/pkg/mods/conventions.go
  packages/libknossos/pkg/mods/dependencies.go
  packages/libknossos/pkg/mods/importer.go
  packages/libknossos/pkg/mods/installation.go
  packages/libknossos/pkg/mods/launcher.go
  packages/libknossos/pkg/mods/metadata.go
  packages/libknossos/pkg/twirp/build.go
  packages/libknossos/pkg/twirp/innoextract.go
  packages/libknossos/pkg/twirp/settings.go
  packages/server/cmd/importer/filelist.go
  packages/server/pkg/exporter/modsync.go
  tasks/knossos.star
  tasks/main.star
  tasks/third_party.star
Due: gofumpt, eslint, tsc

Path conditions:
  gofumpt: any of: \.go$, but not: ^((\.yarn|build|dist|third_party)/|\.pnp\.)
  eslint: any of: \.[jt]sx?$, but not: ^((\.yarn|build|dist|third_party)/|\.pnp\.)
  tsc: any of: \.tsx?$, but not: ^((\.yarn|build|dist|third_party)/|\.pnp\.)
